html {
  font-size: 32px;
}
/*header+++++++++++++++++++++++++*/
.header {
  width: 100%;
  height: 1.5625rem;
  background-color: #ff841d;
  padding: 12px;
}
.header .logo img {
  width: 5.78125rem;
  height: 0.78125rem;
}
.header .add img {
  width: 1.0625rem;
  height: 1.0625rem;
}
/*search+++++++++++++++++++++++++++++*/
.search {
  width: 100%;
  height: 1.5625rem;
  padding: 10px;
  position: relative;
  border-bottom: 1px solid #3c3c3c;
}
.search .sec1 {
  width: 90%;
  height: 0.9375rem;
  border: 0;
  background-color: #f1f1f1;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  font-size: 16px;
  padding-left: 5%;
  color: #ccc;
  padding-right: 1.96875rem;
}
.search .sec2 {
  width: 1.96875rem;
  height: 0.9375rem;
  color: #fff;
  background-color: #ff841d;
  border-radius: 20px;
  border: 0;
  position: absolute;
  top: 10px;
  right: 10px;
}
/*++nav+++++++++++++++++++++++++*/
.nav {
  width: 100%;
}
.nav ul li {
  float: left;
  width: 25%;
  text-align: center;
  margin: 10px 0;
  color: #5a5a5a;
}
.nav ul li img {
  width: 1.5625rem;
  height: 1.5625rem;
}
.nav ul li p {
  line-height: 28px;
  font-size: 14px;
}
.nav ul li:nth-last-of-type(-n+4) {
  display: none;
}
/*产品++++++++++++++++++++++++++++*/
.product {
  width: 100%;
  line-height: 36px;
}
.product .title {
  background-color: #ff841d;
  padding-left: 10px;
}
.product .title h3 {
  color: #fff;
  float: left;
  font-size: 18px;
  font-weight: 700;
}
.product .title img {
  width: 0.625rem;
  height: 0.625rem;
  float: right;
  margin: 9px;
}
.product .show {
  width: 100%;
  padding: 14px 8px;
}
.product .show li {
  width: 100%;
  margin-top: 10px;
}
.product .show li img {
  width: 3.125rem;
  height: 3.125rem;
  position: absolute;
}
.product .show li .li_r {
  width: 100%;
  height: 3.125rem;
  line-height: 19px;
  padding: 10px 10px 10px 3.125rem;
  font-size: 15px;
}
.product .show li .li_r div .sp {
  font-size: 0.46875rem;
  color: #ff841d;
}
.product .show li .li_r div:nth-of-type(2) {
  margin-top: 10px;
}
.product .show li .li_r div:nth-of-type(2) span {
  color: #a1a1a1;
  font-size: 0.25rem;
}
.product .show li .li_r div:nth-of-type(2) span:nth-of-type(1) {
  float: left;
}
.product .show li .li_r div:nth-of-type(2) span:nth-of-type(2) {
  float: right;
}
.product .show li .li_r div:nth-of-type(2) span:nth-of-type(2) .im {
  width: 0.5625rem;
  height: 0.5625rem;
  margin-left: -0.9375rem;
}
.product .info {
  width: 100%;
  padding: 15px;
  background-color: #f2f2f2;
}
.product .info a {
  outline: none;
  height: 1rem;
  width: 100%;
  display: block;
  border: 1px solid #eee;
  background-color: #F9F9F9;
  text-align: center;
  line-height: 1rem;
  font-size: 0.40625rem;
}
/*footer+++++++++++++++++++++++++++*/
.footer {
  background-color: #f2f2f2;
  text-align: center;
}
.footer a {
  margin: 10px 0;
}
.footer .title2 {
  background-color: #ff841d;
  padding-left: 10px;
  height: 1.125rem;
}
.footer .title2 h3 {
  color: #fff;
  float: left;
  line-height: 1.09375rem;
  font-size: 18px;
  font-weight: 700;
}
.footer .title2 img {
  width: 0.625rem;
  height: 0.625rem;
  float: right;
  margin: 8px;
}
.footer .bottom a {
  overflow: hidden;
  float: left;
  display: block;
  box-sizing: border-box;
  border: 1px solid #c4c4c4;
  text-align: center;
  line-height: 1.0625rem;
  border-left: 0;
  font-size: 0.4375rem;
  height: 1.0625rem;
  width: 30%;
}
.footer .bottom a:nth-of-type(3) {
  width: 40%;
  border-right: 0;
}
.footer .bottom a img {
  width: 0.46875rem;
  height: 0.46875rem;
  margin-top: -2px;
}
/*+++++++++++++++++++回到顶部+++++++++++*/
.m_app {
  position: fixed;
  right: 5px;
  bottom: 50px;
  width: 1.875rem;
}
.m_app img {
  height: 2.09375rem;
}
.m_app .toTop {
  padding-left: 13px;
}
.m_app .toTop img {
  width: 0.9375rem;
  height: 0.9375rem;
}
