html {
  font-size: 32px;
}
/*header+++++++++++++++++++++++++*/
.header {
  width: 100%;
  height: 1.5625rem;
  background-color: #ff841d;
  padding: 12px;
}
.header .logo img {
  width: 5.78125rem;
  height: 0.78125rem;
}
.header .add img {
  width: 1.0625rem;
  height: 1.0625rem;
}
/*search+++++++++++++++++++++++++++++*/
.search {
  width: 100%;
  height: 1.5625rem;
  padding: 10px;
  position: relative;
  border-bottom: 1px solid #3c3c3c;
}
.search .sec1 {
  width: 90%;
  height: 0.9375rem;
  border: 0;
  background-color: #f1f1f1;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  font-size: 16px;
  padding-left: 5%;
  color: #ccc;
  padding-right: 1.96875rem;
}
.search .sec2 {
  width: 1.96875rem;
  height: 0.9375rem;
  color: #fff;
  background-color: #ff841d;
  border-radius: 20px;
  border: 0;
  position: absolute;
  top: 10px;
  right: 10px;
}
/*ɸѡ+++++++++++++++++++++++++++++++*/
.select {
  background-color: #F5F5F5;
  padding: 0.3125rem;
}
.select a {
  float: left;
  color: #000;
  font-size: 0.4375rem;
  margin-right: 0.3125rem;
}
.select input {
  width: 1.71875rem;
  height: 1.40625 / rem;
  font-size: 0.4375rem;
  border-radius: 5px;
  background-color: #f2f2f2;
}
/*��Ʒ����++++++++++++++++++++++++++++*/
.recommend .title {
  width: 90%;
  margin: 0.3125rem auto;
  text-align: center;
  font-size: 0.5625rem;
}
.recommend img {
  display: block;
  width: 5.3125rem;
  height: 5.3125rem;
  margin: 0.3125rem auto;
  background-color: #0fff19;
}
.recommend .price a {
  width: 33.3%;
  height: 0.9375rem;
  display: inline-block;
  border: 1px solid #ffe5f1;
  border-left: 0;
  background-color: #ffd056;
  text-align: center;
  font-size: 0.4375rem;
  line-height: 0.9375rem;
  box-sizing: border-box;
}
.recommend p {
  font-size: 0.4375rem;
  padding: 0 0.3125rem;
}
.recommend .tab {
  width: 100%;
}
.recommend .tab table img {
  width: 0.5rem;
  height: 0.5rem;
}
/*��������*/
.comment .wypl {
  width: 100%;
  height: 1.0625rem;
  background-color: #abee84;
  font-size: 0.5rem;
  text-align: center;
  line-height: 1.0625rem;
  border-top: 2px solid #cdff23;
}
.comment .comment_in {
  padding: 0 0.3125rem;
}
.comment .comment_in .from {
  text-align: right;
}
.comment .comment_in hr {
  margin: 0.625rem 0;
}
.comment .gengduo a {
  width: 9.375rem;
  height: 1rem;
  border: 1px solid #5e5e5e;
  text-align: center;
  line-height: 1rem;
  border-radius: 10px;
  display: block;
  margin: 0.9375rem auto;
}
/*�ײ�++++++++++++++++++++++++++++++++++++*/
.footer {
  background-color: #f2f2f2;
  text-align: center;
  height: 6.125rem;
}
.footer a {
  margin: 10px 0;
}
.footer .bottom a {
  overflow: hidden;
  float: left;
  display: block;
  box-sizing: border-box;
  border: 1px solid #c4c4c4;
  text-align: center;
  line-height: 1.0625rem;
  border-left: 0;
  font-size: 0.4375rem;
  height: 1.0625rem;
  width: 30%;
}
.footer .bottom a:nth-of-type(3) {
  width: 40%;
  border-right: 0;
}
.footer .bottom a img {
  width: 0.46875rem;
  height: 0.46875rem;
  margin-top: -2px;
}
